<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewResume"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-resume"
      ref="modal-form-resume"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ :"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            type="text"
            v-model="form.name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="นามสกุล :"
          label-for="lastname"
          :invalid-feedback="invalidFeedbackLastname"
          :valid-feedback="validFeedbackLastname"
          :state="stateLastname"
        >
          <b-form-input
            id="lastname"
            type="text"
            v-model="form.lastname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="วันเดือนปีเกิด :"
          label-for="Birthday"
          :invalid-feedback="invalidFeedbackBirthday"
          :valid-feedback="validFeedbackBirthday"
          :state="stateBirthday"
        >
          <b-form-input
            id="birthday"
            type="date"
            v-model="form.birthday"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="หมายเลขบัตรประชาชน :"
          label-for="Idcard"
          :invalid-feedback="invalidFeedbackIdcard"
          :valid-feedback="validFeedbackIdcard"
          :state="stateIdcard"
        >
          <b-form-input
            id="idcard"
            type="number"
            v-model="form.idcard"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="อายุ :"
          label-for="Age"
          :invalid-feedback="invalidFeedbackCAge"
          :valid-feedback="validFeedbackAget"
          :state="stateAge"
        >
          <b-form-input
            id="age"
            type="number"
            v-model="form.age"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="เพศ :"
          label-for="gender"
          v-slot="{ ariaDescribedby }"
          :invalid-feedback="invalidFeedbackCGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-radio
            id="male"
            type=""
            value="ชาย"
            v-model="form.gender"
            :aria-describedby="ariaDescribedby"
            required
            >ชาย</b-form-radio
          >

          <b-form-radio
            id="female"
            value="หญิง"
            v-model="form.gender"
            :aria-describedby="ariaDescribedby"
            required
            >หญิง</b-form-radio
          >
        </b-form-group>

        <b-form-group
          label="เบอร์โทร :"
          label-for="phonenumber"
          :invalid-feedback="invalidFeedbackCPhone"
          :valid-feedback="validFeedbackPhone"
          :state="statePhone"
        >
          <b-form-input
            id="phonenumber"
            type="number"
            v-model="form.phonenumber"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="อีเมลล์ :"
          label-for="email"
          :invalid-feedback="invalidFeedbackCEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="ที่อยู่ :"
          label-for="address"
          :invalid-feedback="invalidFeedbackCAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-textarea
            id="address"
            type=""
            v-model="form.address"
            required
          ></b-form-textarea>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="resumeList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editResume(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delResume(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

//
<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'Resume',
      form: {
        _id: '',
        name: '',
        lastname: '',
        birthday: '',
        idcard: '',
        age: '',
        gender: '',
        phonenumber: '',
        email: '',
        address: ''
      },
      resumeList: [],
      fields: [
        'id',
        'name',
        'lastname',
        'birthday',
        'idcard',
        'age',
        'gender',
        'phonenumber',
        'email',
        'address'
      ]
    }
  },
  methods: {
    addNewResume () {
      console.log('Add new resume')
      this.$bvModal.show('modal-form-resume')
    },
    editResume (resume) {
      console.log('Edit ')
      console.log(resume)
      this.title = 'แก้ไขข้อมูลเรซูเม่'
      this.form = { ...resume }
      this.$bvModal.show('modal-form-resume')
    },
    delResume (resume) {
      console.log('Del ')
      console.log(resume)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + resume.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            axios
              .delete('http://localhost:3000/resume/' + resume._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        ชื่อ: '',
        นามสกุล: '',
        วันเดือนปีเกิด: '',
        หมายเลขบัตรประชาชน: '',
        อายุ: '',
        เพศ: '',
        เบอร์โทร: '',
        อีเมลล์: '',
        ที่อยู่: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.stateLastname === false ||
        this.stateBirthday === false ||
        this.stateIdcard === false ||
        this.stateAge === false ||
        this.stateGender === false ||
        this.statePhonenumber === false ||
        this.stateEmail === false ||
        this.stateAddress === false
      ) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateCompany(this.form)
        axios
          .put('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-resume')
      })
    },
    getResume () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/resume')
        .then(res => {
          console.log(res)
          this.resumeList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateLastname () {
      return this.form.lastname.length >= 2
    },
    invalidFeedbackLastname () {
      if (this.form.lastname.length > 2) {
        return ''
      } else if (this.form.lastname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackLastname () {
      return this.stateName === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getResume()
  }
}
</script>
